<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="content" android:mimeType="*/*" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Launcher needs to see which emulators are installed; app is sideload-distributed. -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <application
        android:name=".MimirApp"
        android:label="Mimir"
        android:theme="@style/Theme.Mimir">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
